In [1]:
import math
def area_circle(radius):
    area = math.pi * radius**2
    return area

In [2]:
area_circle(4)

50.26548245743669

In [3]:
def euclidian_distance(x1, x2, y1, y2):
    dist = x2 - x1
    dis = y2 - y1
    c = dist**2 + dis**2
    actual_distance = math.sqrt(c)
    return actual_distance

In [4]:
euclidian_distance(2,4,5,1)

4.47213595499958

In [5]:
def factorial(n):
    if n == 0:
        return 1
    else:
        result = n * factorial(n-1)
    return result

In [6]:
factorial(7)

5040

In [7]:
def fibonacci(n):
    if n==0 or n==1:
        return 1
    else:
        result = fibonacci(n-1) + fibonacci(n-2)
    return result

In [8]:
fibonacci(2)

2

In [9]:
def fibonacci(n):
    if not isinstance(n, int):
        print('Factorial is only defined for integers')
        return -1
    elif n<0:
        print('Fac is only defined for positive integers')
        return -1
    elif n ==0:
        return 1
    else:
        return n * factorial(n-1)

In [10]:
fibonacci(-1.6)

Factorial is only defined for integers

-1

In [11]:
def countdown(n):
    while n > 0:
        print(n)
        n = n-1
    print('Blastoff!')

In [12]:
countdown(10)

10
9
8
7
6
5
4
3
2
1
Blastoff!

In [13]:
def nLines(n):
    while n < 0:
        print(n)
        n = n-1
    print('This is unbelievable: ')

In [14]:
nLines(7)

This is unbelievable:

In [15]:
def sequence(n):
    while n  != 1:
        print(n)
        if n % 2 ==0:
            n = n/2
        else:
            n = (n * 3) + 1

In [16]:
sequence(6)

6
3.0
10.0
5.0
16.0
8.0
4.0
2.0

In [17]:
import math
x = 1.0
while x < 10.0:
    print(x),'/t', math.log(x)
    x += 1

1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0

In [19]:
print ("Logarithm base 5 of 14 is : ") 
print (math.log(14,5))

Logarithm base 5 of 14 is :
1.6397385131955606

In [20]:
i = 1
while i <= 7:
    print(i * 2), ' ',
    i = i + 1

2
4
6
8
10
12
14

In [21]:
def print_multiples(n, low):
    i =1
    while i <= low:
        print(i * n), '\t ',
        i= i + 1

In [22]:
print_multiples(4, 6)

4
8
12
16
20
24

In [23]:
def Multi():
    i =1
    while i <= 6:
        print_multiples(i)
        i = i + 1

In [24]:
Multi()

TypeError: print_multiples() missing 1 required positional argument: 'low'

In [25]:
def Multipl(low):
    i = 1
    while i <= low:
        print_multiples(i, low)
        i = i + 1

In [26]:
Multipl(7)

1
2
3
4
5
6
7
2
4
6
8
10
12
14
3
6
9
12
15
18
21
4
8
12
16
20
24
28
5
10
15
20
25
30
35
6
12
18
24
30
36
42
7
14
21
28
35
42
49

In [27]:
fruit = 'Banana'

fruit[-2]

'n'

In [32]:
str = 'Asshole'
def find(str, ch):
    index = 0
    while index < len(str):
        if str[index] == ch:
            return index
        index += 1
    return -1

In [33]:
find(str, 'h')

3

In [37]:
def report_status(**kwargs):
    """Print out the status of a movie character."""

    print("\nBEGIN: REPORT\n")

    # Iterate over the key-value pairs of kwargs
    for key, value in kwargs.items():
        # Print out the keys and values, separated by a colon ':'
        print(key + ': ' + value)
    print("\nEND REPORT")

# First call to report_status()
report_status(name = 'luke', affiliation = 'jedi', status = 'missing')

# Second call to report_status()
report_status(name= 'anakin', affiliation= 'sith lord', status= 'deceased')

BEGIN: REPORT

name: luke
affiliation: jedi
status: missing

END REPORT

BEGIN: REPORT

name: anakin
affiliation: sith lord
status: deceased

END REPORT

In [49]:
dataset = [1,2,3,4,5,123,567,6,7,8,9,345,567,876,876]

In [72]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
outliers = []
def detecting_outliers(datasets):
    threshold = 3
    mean_data = np.mean(datasets)
    std_deviation = np.std(datasets)
    
    for i in datasets:
        z = (i-mean_data)/std_deviation
        if np.abs(z) > threshold:
            outliers.append(i)
    return outliers

In [73]:
x = detecting_outliers([1,2,3,4,5,6,7,101,102,8,198,9,200,156])

In [74]:
x

[]

In [58]:
quartile1, quartile3 = np.percentile(dataset, [25,75])

In [60]:
quartile1

4.5

In [61]:
quartile3

456.0

In [62]:
iqr_dif = quartile3 - quartile1

In [64]:
iqr_dif

451.5

In [65]:
lower_bound = quartile1 - (1.5 * iqr_dif)
upper_bound = quartile1 + (1.5 * iqr_dif)

In [66]:
print(lower_bound, upper_bound)

-672.75 681.75

In [ ]:
def is_leap(year):
    leap = False
    if year % 4 == 0:
        return leap = True
        if year % 100 == 0:
            return 
            
            
    # Write your logic here
    
    return leap

year = int(input())

In [3]:
import calendar
%time

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 6.2 µs

In [6]:
calendar.setfirstweekday(calendar.SUNDAY)

In [7]:
def leap_not(year):
    if calendar.isleap(year):
        return True
    else:
        return False

In [12]:
year = leap_not(int(input()))

1600

In [2]:
import numpy as np
matrix = np.array([[1, 1, 1],
                   [1, 1, 10],
                   [1, 1, 15]])

# Return matrix rank
np.linalg.matrix_rank(matrix)

2

In [3]:
# Create two vectors
vector_a = np.array([1,2,3])
vector_b = np.array([4,5,6])

# Calculate dot product
np.dot(vector_a, vector_b)

32

In [4]:
SELECT user_id, message_sent/NULLIF(message_received, 0) AS sent_to_receive FROM Messages WHERE

SyntaxError: invalid syntax (<ipython-input-4-f69aa5595318>, line 1)